body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

img {
    margin-top: 20px;
    border: 2px solid black;
}